
<div class="container">
    <div class="row mbr-white">
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>Contacts</strong></h5>
            <ul class="list mbr-fonts-style display-7">
                <li class="mbr-text item-wrap">0 (800) 123 45 67</li> 
                <li class="mbr-text item-wrap">mail@entryanalytica.com</li> 
                <li class="mbr-text item-wrap">200 Brum Street, London, UK</li>  
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>Quick Links</strong></h5>
            <ul class="list mbr-fonts-style display-7">
                <a href="/contact" class="mbr-text item-wrap"><span style="color: #0032eb;">&gt;</span>  Contact</a><br>         
                <a href="/about" class="mbr-text item-wrap"><span style="color: #0032eb;">&gt;</span> About Us</a><br>
                <a href="/technical-analysis" class="mbr-text item-wrap"><span style="color: #0032eb;">&gt;</span> Analysis</a><br>
                <a href="/investing" class="mbr-text item-wrap"><span style="color: #0032eb;">&gt;</span> Investing</a>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>Terms</strong>
            </h5>
            <ul class="list mbr-fonts-style display-7">
                <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #281ae6;">&gt;</span> Privacy policy</a><br>
                <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #281ae6;">&gt;</span> Terms and condition</a><br>
                <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #281ae6;">&gt;</span> Refund policy</a><br>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>About</strong>
            </h5>
            <ul class="list mbr-fonts-style display-7">
                <p class="mbr-text mb-4" style="color: black;">
                    We are a group of traders focused on cryptocurrency market analysis and studies, and our service is to provide access to our market studies and trades.</p>
                </ul>
        </div>
        <div class="col-12 mt-5 footer-col">
            <div class="mbr-section-btn align-left"><a class="btn btn-primary display-7" href="/" style="display: none;">Sign Up</a></div>

            <div class="social-row mt-2 display-7">
                <div class="soc-item">
                    <a href="https://facebook.com/61567259792650/">
                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://x.com/entryanalytica">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://t.me/entryanalytica">
                        <span class="mbr-iconfont socicon-telegram socicon"></span>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="col-12 mt-4">
            <p class="mbr-text mb-0 mbr-fonts-style copyright align-center display-7">
                © Copyright 2025 Entryanalytica - All Rights Reserved
            </p>
        </div>
    </div>
</div>