<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-analytica-logo-removebg-preview-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>about</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=1e2ALM"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=1e2ALM" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu6 cid-uGq1pbuHYk" once="menu" id="menu06-f">
	
	<% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="article8 cid-uHyv4R7esW" id="article08-p">
  

  
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-10">
          <div class="card-wrapper">
            <div class="image-wrapper d-flex justify-content-center mb-4">
              <img src="assets/images/refund.jpg" alt="Mobirise Website Builder">
            </div>
            <div class="card-content-text">
              <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
              <strong>Refund policy:</strong>
            </h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                <strong>disclaimer</strong>
            </h4>
            <ul class="list mbr-fonts-style display-7">
                <li><strong>Entryanalytica  is not available to the general public and is opened only to the qualified members, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                </strong></li><br>
                <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong></li><br>
                <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program first. Always clear all complaint with the administrator.</strong></li><br>
                  
            </ul>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section data-bs-version="5.1" class="footer1 cid-uGq2f3bKSD" once="footers" id="footer01-6">
	
    <% include ./partials/footer %>
      
      
  </section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">&#8204;</p></section><script type="text/plain" data-src="assets/bootstrap/js/bootstrap.bundle.min.js"></script><script src="assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script><script src="assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script><script type="text/plain" data-src="assets/smoothscroll/smooth-scroll.js"></script><script type="text/plain" data-src="assets/ytplayer/index.js"></script><script type="text/plain" data-src="assets/dropdown/js/navbar-dropdown.js"></script><script type="text/plain" data-src="assets/theme/js/script.js"></script>
    
    
  <input name="cookieData" type="hidden" data-cookie-cookiesAlertType='2' data-cookie-customDialogSelector='null' data-cookie-colorText='#424a4d' data-cookie-colorBg='rgb(255, 255, 255)' data-cookie-opacityOverlay='0' data-cookie-bgOpacity='100' data-cookie-textButton='ACCEPT' data-cookie-rejectText='REJECT' data-cookie-colorButton='#2229d1' data-cookie-rejectColor='#ffffff' data-cookie-colorLink='#424a4d' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience as specified in the <a href='/privacy-policy'>cookie policy</a>. Rejecting cookies may make some features unavailable.">
      <input name="animation" type="hidden">
    </body>
  </html>