<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-analytica-logo-removebg-preview-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>about</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=1e2ALM"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=1e2ALM" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu6 cid-uGq1pbuHYk" once="menu" id="menu06-f">
	
	<% include ./partials/nav %>
</section>


<section data-bs-version="5.1" class="article8 cid-uHyv4R7esW" id="article08-p">
  

  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">
        <div class="card-wrapper">
          <div class="image-wrapper d-flex justify-content-center mb-4">
            <img src="assets/images/terms.jpg" alt="Mobirise Website Builder">
          </div>
          <div class="card-content-text">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
            <strong>Terms of Service:</strong>
          </h3>
          <h4 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
            <strong>Effective: November 15, 2024</strong>
          </h4>
          <ul class="list mbr-fonts-style display-7">
            <li><strong>These terms of service apply to your access and use Entryanalytica's Website . Please read them carefully.</strong></li><br>
            <li><strong>If you access or use the Service, it means you agree to be bound by all of the terms below. So, before you use the Service, please read all of the terms. If you don't agree to all of the terms below, please do not use the Service. Also, if a term does not make sense to you, please let us know by e-mailing us at info@entryanalytica.com</strong></li> <br>
            <li><strong>We reserve the right to modify these Terms at any time. For instance, we may need to change these Terms if we come out with a new feature or for some other reason.

                Whenever we make changes to these Terms, the changes are effective after we post such revised Terms (indicated by revising the date at the top of these Terms) or upon your acceptance if we provide a mechanism for your immediate acceptance of the revised Terms (such as a click-through confirmation or acceptance button). It is your responsibility to check our Website for changes to these Terms.
                
                If you continue to use the Service after the revised Terms go into effect, then you have accepted the changes to these Terms.</strong></li><br>

              <li><strong>For information about how we collect and use information about users of the Service, please check out our privacy policy available at <a href="/privacy-policy">privacy-policy</a></strong></li><br>

              <li><strong>From time to time, we may provide you with links to third party websites or services that we do not own or control. Your use of the Service may also include the use of applications that are developed or owned by a third party. Your use of such third party applications, websites, and services is governed by that party's own terms of service or privacy policies. We encourage you to read the terms and conditions and privacy policy of any third party application, website or service that you visit or use.</strong></li><br>

              <li><strong>When you create an account or use another service to log in to the Service, you agree to maintain the security of your password and accept all risks of unauthorized access to any data or other information you provide to the Service.

                If you discover or suspect any Service security breaches, please let us know as soon as possible.</strong></li><br>

              <li><strong>We put a lot of effort into creating the Service including, the logo and all designs, text, graphics, pictures, information and other content (excluding your content). This property is owned by us or our licensors.

                However, unless we expressly state otherwise, your rights do not include: <br><br>
                (i) publicly performing or publicly displaying the Service;<br><br>
                (ii) modifying or otherwise making any derivative uses of the Service or any portion thereof;<br><br>
                (iii) using any data mining, robots or similar data gathering or extraction methods;<br><br>
                (iv) downloading (other than page caching) of any portion of the Service or any information contained therein;<br><br>
                (v) reverse engineering or accessing the Service in order to build a competitive product or service; or <br><br>
                (vi) using the Service other than for its intended purposes. If you do  any of this things, we may terminate your use of the Service.</strong></li><br>

              <li><strong>We take intellectual property rights seriously. In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, we have adopted a policy of terminating, in appropriate circumstances and, at our sole discretion, access to the service for users who are deemed to be repeat infringers.</strong></li><br>

              <li><strong>The validity of these Terms and the rights, obligations, and relations of the parties under these Terms will be construed and determined under and in accordance with the laws of your Residing governing body</strong></li><br>

              <li><strong>Our Service allows you and other users to Invest and get profit. You are responsible for the content that you make available to the Service, including its legality, reliability, and appropriateness.</strong></li><br>
              <li><strong>As a private transaction, this program is exempt from the UK Securities Act of 1933, the UK Securities Exchange Act of 1934 and the UK Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.</strong></li><br>

              <li><strong>THE SERVICE AND ANY OTHER SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE ARE PROVIDED TO YOU ON AN AS IS OR AS AVAILABLE BASIS WITHOUT ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND. WE DISCLAIM ANY AND ALL WARRANTIES AND REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THE SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY REASON OF CUSTOM OR USAGE IN THE TRADE, BY COURSE OF DEALING OR OTHERWISE.</strong></li><br>
          `    <li><strong>If you breach any of these Terms, we have the right to suspend or disable your access to or use of Entryanalytica.</strong></li><br>
             

              <li><strong>Please let us know what you think of the Service, these Terms and, in general. When you provide us with any feedback, comments or suggestions about the Service, these Terms and, in general, you irrevocably assign to us all of your right, title and interest in and to your feedback, comments and suggestions.</strong></li><br>
              
              <br><br><br><br><br>
        </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section data-bs-version="5.1" class="footer1 cid-uGq2f3bKSD" once="footers" id="footer01-6">
	
  <% include ./partials/footer %>
	
	
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">&#8204;</p></section><script type="text/plain" data-src="assets/bootstrap/js/bootstrap.bundle.min.js"></script><script src="assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script><script src="assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script><script type="text/plain" data-src="assets/smoothscroll/smooth-scroll.js"></script><script type="text/plain" data-src="assets/ytplayer/index.js"></script><script type="text/plain" data-src="assets/dropdown/js/navbar-dropdown.js"></script><script type="text/plain" data-src="assets/theme/js/script.js"></script>
  
  
<input name="cookieData" type="hidden" data-cookie-cookiesAlertType='2' data-cookie-customDialogSelector='null' data-cookie-colorText='#424a4d' data-cookie-colorBg='rgb(255, 255, 255)' data-cookie-opacityOverlay='0' data-cookie-bgOpacity='100' data-cookie-textButton='ACCEPT' data-cookie-rejectText='REJECT' data-cookie-colorButton='#2229d1' data-cookie-rejectColor='#ffffff' data-cookie-colorLink='#424a4d' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience as specified in the <a href='/privacy-policy'>cookie policy</a>. Rejecting cookies may make some features unavailable.">
    <input name="animation" type="hidden">
  </body>
</html>